.admin-header-bar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #fefdfb; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #d1d5db; 
}

.admin-button {
  padding: 0.6rem 1.4rem;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  transition: all 0.25s ease;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #fefdfb;
}

.admin-button.agregar, .admin-button.lista, .admin-button.crear-admin {
  background-color: #bfdfe6; 
  color: #33717e;
}

.admin-button.agregar:hover, .admin-button.lista:hover, .admin-button.crear-admin:hover {
  background-color: #33717e; 
  color: #fefdfb;
  box-shadow: 0 4px 10px rgba(30,41,59,0.4);
}

.admin-container {
  min-height: 100vh;
  padding: 10px;
  background-color: fefdfb;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
}

.admin-container h1{
  margin-top: 10px;
  font-size: 15px;
  color: #33717e;
  font-weight: 600;
}

.contenido-box {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.07);
  padding: 2.5rem;
  max-width: 900px;
  margin: auto;
}